
// This is where you can import other stylesheets or write your scss cod
// @import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap"); 

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.navbar-2{
    font-family: 'Love Ya Like A Sister', cursive;
  background-color: #7a44ff;
    flex-direction: column;
}
 .navbar-2 h4{
    color: white;
    font-family: 'Love Ya Like A Sister', cursive; 
 }
#contact{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 6rem;
}
 


   







