@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@mixin fonts {
    font-family: "Love Ya Like A Sister", cursive;
}
@mixin background($color) {
    background-color: ($color);
}

body {
    margin: 0;
}
// Navbar
.navbar {
    @include background(black);
    font-size: 1.5rem;
    font-weight: bold;
}
.nav a {
    color: #7a44ff;
}
// LOGO
#logo {
    width: 50px;
}
span {
    color: #7a44ff;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
}
// BANNER IMG
#banner {
    background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
// Banner text
#banner h1 {
    font-size: 8rem;
    color: white;
    @include fonts;
}
#banner p {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
button.btn {
    @include background(#7a44ff);
    font-size: 20px;
    border-radius: none;
    color: white;
}
// Columns
.col-md {
    text-align: center;
}
// Columns Image
.svg {
    display: inline-block;
    position: relative;
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
}
.svg img {
    font-size: 10px;
    width: 100%;
    height: 100%;
}
// Columns title
div h2 {
    margin: 100px 0 50px 0;
    font-size: 4rem;
    @include fonts;
    color: #4b4c45;
}
// Columns Subtitle
div h3 {
    @include fonts;
    color: #4b4c45;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0;
}
// Columns text
div p {
    margin: 0 20px;
    color: #4b4c45;
}

// card section

.navbar-2 {
    font-family: "Love Ya Like A Sister", cursive;
    background-color: #7a44ff;
    flex-direction: column;
}
.navbar-2 h4 {
    color: white;
    font-family: "Love Ya Like A Sister", cursive;
}
#contact {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 6rem;
}

// Footer
footer {
    @include background(black);
    color: white;
    text-align: right;
}
